/* atributos personalizados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: url("img/webb-dark.png"); }

.container {
  margin: auto;
  margin-top: 60px;
  padding: 0;
  width: 90%;
  max-width: 1000px; }
  .container.empty {
    text-align: center; }
  .container .seleccion-plataforma {
    margin-top: 100px;
    margin-bottom: 100px; }
    .container .seleccion-plataforma .content-plataforma {
      display: flex;
      flex-direction: row; }
      .container .seleccion-plataforma .content-plataforma .text {
        margin: auto;
        margin-right: 10px; }
      .container .seleccion-plataforma .content-plataforma .dropdown {
        width: 80%;
        text-align: center; }

.error-espectaculos {
  font-size: 40px;
  font-weight: bold;
  color: #6C757D; }

.container-espectaculos {
  width: 100%;
  opacity: 0;
  pointer-events: none;
  margin: auto; }
  .container-espectaculos.opacity_one {
    opacity: 1;
    pointer-events: all; }
  .container-espectaculos .card {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    height: 233px;
    overflow: hidden;
    transition: all ease 0.2s; }
    .container-espectaculos .card.full_height {
      height: 350px; }
    .container-espectaculos .card .card-header {
      padding: 0;
      border: none;
      border-radius: none; }
      .container-espectaculos .card .card-header .card-img-container {
        height: 165px;
        overflow: hidden; }
        .container-espectaculos .card .card-header .card-img-container .card-img-top {
          width: 100%; }
      .container-espectaculos .card .card-header .card-title {
        margin: 20px 0;
        padding: 0 10px; }
    .container-espectaculos .card .card-body {
      display: none;
      margin: 0;
      padding: 0 10px 20px 10px; }
      .container-espectaculos .card .card-body .card-text-container {
        max-height: 60px;
        overflow: hidden;
        margin-bottom: 10px; }
      .container-espectaculos .card .card-body .dateText {
        font-size: 14px;
        color: #6C757D; }
      .container-espectaculos .card .card-body .card-link {
        position: absolute;
        padding-bottom: inherit;
        padding-right: 10px;
        bottom: 0;
        right: 0;
        text-align: right; }

.modal-espectaculo {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 1000px;
  background: #292e33;
  transition: all ease 0.2s;
  z-index: 105; }
  .modal-espectaculo .close-btn {
    margin-right: 10px;
    right: 0;
    display: inline-block;
    z-index: 120; }
  .modal-espectaculo.active {
    transform: translate(-50%, -50%) scale(1); }
  .modal-espectaculo .img-container {
    width: 100%;
    height: 200px;
    cursor: pointer;
    overflow: hidden; }
    .modal-espectaculo .img-container img {
      width: 100%;
      margin: auto; }
  .modal-espectaculo .text-container {
    padding: 40px;
    color: #fff; }
    .modal-espectaculo .text-container .text-title {
      margin-bottom: 30px; }
    .modal-espectaculo .text-container .text {
      margin-bottom: 30px; }
    .modal-espectaculo .text-container .container-info-espectaculo {
      display: flex;
      flex-direction: row;
      font-size: 14px; }
      .modal-espectaculo .text-container .container-info-espectaculo .titles-info .title-info {
        margin-bottom: 5px;
        color: #fff;
        font-weight: bold; }
      .modal-espectaculo .text-container .container-info-espectaculo .info {
        margin-left: 40px; }
        .modal-espectaculo .text-container .container-info-espectaculo .info .info-item {
          margin-bottom: 5px; }

#modal-funciones {
  min-height: 600px;
  color: #fff; }
  #modal-funciones .text-title, #modal-funciones #container-modal-funciones {
    margin: 20px; }

.close-btn {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 25px; }
  .close-btn:hover {
    color: #fff; }

.modal-content {
  background-color: #292e33;
  color: #fff; }

#back {
  position: relative;
  left: 0;
  margin: 20px 20px 0 20px; }

.img-display {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  overflow: hidden;
  z-index: 110; }
  .img-display.active {
    display: flex;
    align-items: center;
    z-index: 120; }
  .img-display img {
    width: 100%; }
  .img-display .close-btn {
    bottom: 0;
    display: none;
    margin: 0 0 40px 20px; }

.table {
  font-size: 14px; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: all ease-in-out 0.2s; }
  .overlay.active {
    opacity: 1;
    pointer-events: all;
    justify-content: column;
    align-items: end; }
    .overlay.active .card {
      display: inline-block;
      width: 100%;
      top: 10px; }
      .overlay.active .card:hover {
        top: 0; }
      .overlay.active .card .dateText {
        font-size: 14px;
        color: #6C757D; }
      .overlay.active .card .card-link {
        float: right; }

@media screen and (max-width: 1000px) {
  .modal-espectaculo {
    width: 100%; }

  .img-display {
    height: 100vh;
    width: 100vw; }
    .img-display .close-btn {
      display: inline-block; } }
@media screen and (max-width: 768px) {
  .container-espectaculos .col {
    margin: auto; }

  .modal-espectaculo #close {
    color: #bb4430;
    left: 0;
    margin-left: 10px; }

  .table {
    font-size: 12px; }

  .container-info-espectaculo-meta {
    flex-direction: column;
    align-items: baseline;
    text-align: left; }
    .container-info-espectaculo-meta .info-meta {
      margin-bottom: 10px; }
      .container-info-espectaculo-meta .info-meta .title-info {
        color: #fff;
        margin-bottom: 0; }
      .container-info-espectaculo-meta .info-meta .info-item {
        margin-bottom: 0; }
    .container-info-espectaculo-meta a {
      color: #fff; } }
@media screen and (min-width: 768px) {
  .card:hover {
    height: 350px; }
    .card:hover .card-body {
      display: block; }

  .modal-espectaculo .img-container img {
    position: relative;
    bottom: 250px; } }
@media screen and (max-width: 430px) {
  .modal-espectaculo .text-container {
    padding: 20px; }
    .modal-espectaculo .text-container .text-title {
      margin-bottom: 20px; }
    .modal-espectaculo .text-container .text {
      margin-bottom: 20px; }

  .container-info-espectaculo-meta {
    font-size: 12px; }
    .container-info-espectaculo-meta .titles-info .title-info {
      margin-bottom: 5px;
      color: #fff;
      font-weight: bold; }
    .container-info-espectaculo-meta .info {
      margin-left: 40px; }
      .container-info-espectaculo-meta .info .info-item {
        margin-bottom: 5px; } }

/*# sourceMappingURL=style_ce.css.map */
